<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web.py views</title>
</head>
<body>
    <form method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
